@media screen and (max-width: 1410px){
    .bannercover h1{
        font-size: 52px;
        line-height: 70px;
    }

    .bannercover{
        right: 80px;
        top: 450px;
    }
    .btn{
        padding: 14px 33px;
    }
    .shop .textarea{
        width: 465px;
    }
    .shop h2{
        font-size: 38px;
    }
    p{
        font-size: 16px;
    }
    .offer .offlist{
        grid-gap: 10px;
    }
    .offer{
        padding: 0;
    }
    
    .guest figure.guest1{
        margin: 0;
        position: absolute;
        right: 350px ;
        top: 322px;
        z-index: 2;
    }
    
    .guest figure.guest2{
        margin: 0;
        position: absolute;
        right: 100px;
        top: 100px;
        z-index: 1;
    }

    .footer .img{
        width: 100%;
    }
}

@media screen and (max-width: 1260px){
    .bannercover h1{
        font-size: 42px;
        line-height: 60px;
        padding-bottom: 30px;
    }

    .bannercover{
        right: 70px;
        top: 400px;
    }
    
    .shop .textarea{
        width: 400px;
    }
    .shop h2{
        font-size: 32px;
    }
    p{
        font-size: 14px;
    }
    .offer .offlist{
        grid-gap: 5px;
    }
}